
<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li class="active"><%= link_to "Login", user_omniauth_authorize_path(:facebook) %></li>
  </ul>
  <h3 class="muted">Diet your Ass!</h3>
</div>

<hr>

<div class="jumbotron">
  <h1>Diet you Ass!</h1>
  <p class="lead"></p>
</div>

<hr>
</div>
