
<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li class="active"><%= link_to "Login", coming_soon_path %></li>
  </ul>
  <h3 class="muted">Diet and Donate!</h3>
</div>

<hr>

<div class="jumbotron">
  <h1>Diet and Donate!</h1>
  <p class="lead"></p>
</div>

<hr>
</div>

